In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')
from sklearn.preprocessing import LabelEncoder

import sklearn
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import accuracy_score

from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import r2_score

In [2]:
df=pd.read_csv(r"C:\Users\Tanush Sujoy\Downloads\car+data.csv")
df.head()

,Car_Name,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner
0,ritz,2014,3.35,5.59,27000,Petrol,Dealer,Manual,0
1,sx4,2013,4.75,9.54,43000,Diesel,Dealer,Manual,0
2,ciaz,2017,7.25,9.85,6900,Petrol,Dealer,Manual,0
3,wagon r,2011,2.85,4.15,5200,Petrol,Dealer,Manual,0
4,swift,2014,4.60,6.87,42450,Diesel,Dealer,Manual,0

In [3]:
#shape and info
df.shape

(301, 9)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 301 entries, 0 to 300
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Car_Name       301 non-null    object
 1   Year           301 non-null    int64
 2   Selling_Price  301 non-null    float64
 3   Present_Price  301 non-null    float64
 4   Kms_Driven     301 non-null    int64
 5   Fuel_Type      301 non-null    object
 6   Seller_Type    301 non-null    object
 7   Transmission   301 non-null    object
 8   Owner          301 non-null    int64
dtypes: float64(2), int64(3), object(4)
memory usage: 21.3+ KB

In [5]:
df.isnull().sum()

Car_Name         0
Year             0
Selling_Price    0
Present_Price    0
Kms_Driven       0
Fuel_Type        0
Seller_Type      0
Transmission     0
Owner            0
dtype: int64

In [6]:
#drop redundant columns
df.drop(['Car_Name'],axis=1, inplace=True)

### 6. Extract a new feature called 'age_of_the_car' from the feature 'year' and drop the feature year

In [7]:
df['age_of_the_car'] = pd.datetime.now().year - df['Year']

# Drop the 'Year' column
df.drop(columns=['Year'], inplace=True)
df['age_of_the_car']

0       9
1      10
2       6
3      12
4       9
       ..
296     7
297     8
298    14
299     6
300     7
Name: age_of_the_car, Length: 301, dtype: int64

### 7. Encode the categorical columns

In [8]:
cat_features=df.select_dtypes(include=['object'])
cat_features.head(5)

  Fuel_Type Seller_Type Transmission
0    Petrol      Dealer       Manual
1    Diesel      Dealer       Manual
2    Petrol      Dealer       Manual
3    Petrol      Dealer       Manual
4    Diesel      Dealer       Manual

In [9]:
df['Fuel_Type']=df['Fuel_Type'].replace({'Petrol':0, 'Diesel':1,'CNG':2})
df['Seller_Type']=df['Seller_Type'].replace({'Dealer':0,'Individual':1})
df['Transmission']=df['Transmission'].replace({'Manual':0,'Automatic':1})

In [11]:
df.head()

,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner,age_of_the_car
0,3.35,5.59,27000,0,0,0,0,9
1,4.75,9.54,43000,1,0,0,0,10
2,7.25,9.85,6900,0,0,0,0,6
3,2.85,4.15,5200,0,0,0,0,12
4,4.60,6.87,42450,1,0,0,0,9

### 8. Separate the target and independent features.

In [12]:
##separate independent and target variable
X=df.drop('Selling_Price',axis=1)#all columns except loan status
Y=df['Selling_Price']#target variable

#split the data
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.30)
print(X_train.shape,X_test.shape)
print(Y_train.shape,Y_test.shape)

(210, 7) (91, 7)
(210,) (91,)

### 10. Build a Random forest Regressor model and check the r2-score for train and test.

In [13]:
#scaling the data
ss=StandardScaler()

X_train=ss.fit_transform(X_train.iloc[:,:])
X_test=ss.transform(X_test.iloc[:,:])

In [14]:
model = RandomForestRegressor()
model.fit(X_train, Y_train)

RandomForestRegressor()

In [15]:
Y_pred_test = model.predict(X_test)
r2_test = r2_score(Y_test, Y_pred_test)
print(f'R2 Score (test): {r2_test}')

R2 Score (test): 0.967878829179688

In [16]:
Y_pred_train = model.predict(X_train)
r2_train = r2_score(Y_train, Y_pred_train)
print(f'R2 Score (train): {r2_train}')

R2 Score (train): 0.9819249363437892

### 11. Create a pickle file with an extension as .pkl

In [18]:
import pickle
# Saving model to disk
pickle.dump(model, open('model3.pkl','wb'))

# Loading model to compare the results
model = pickle.load(open('model3.pkl','rb'))